* {
  border: 1px solid white;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: red;
  text-align: left;

}

body {

}

#form {
  display: none;
}
