* {
  border: 1px solid white;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: red;
  text-align: left;

}

body {

}

#form {
  display: none;
}

.text-input {
  border: 1px solid black;
}

#background {
  z-index: -1;
  width: 28.4cm;
  height: 18cm;
  position: absolute;
  left: 0;
  top: 0;
}


#border-top {
  width: 28.4cm;
  display: block;
}

#border-bottom {
  width: 28.4cm;
  display: block;
}

#border-left {
  float: left;
  height: 14cm;
}

#border-right {
  float :right;
  height: 14cm;
}

#container {
  width: 28.4cm;
  height: 14.0cm;
}

#inner-container {



}



#heading-left {
  float: left;
}

#heading-center {
  margin-bottom: 1.7cm;
  margin-top: 0.6cm;
  margin-left: 3.8cm;
  margin-right: 3.8cm;
  text-align: center;
  /*border: 1px solid blue;*/

}

#heading-right {
  float: right;
  /*border: 1px solid blue;*/
}

.centered {
  text-align: center;
}

.left-aligned {
  margin-left: 8cm;
  text-align: left;
}

h1 {
  font-size: 36pt;
}

p {
  /*margin: 50px;*/
  font-size: 26pt;
}

#bookbug-img {
  height: 7.5cm;
}

#booktrustlogo-img {
  float: right;
  height: 2.74cm;
  margin-top: 0.3cm;
}

.balloons-img {
  height: 5.0cm;
}

#content-left {
  float: left;
}

#column-right {
  float: left;
  width: 128px;
  height: 270px;
}

#content-center {
  text-align: left;
  margin-left: 2cm;
}

.extra-margin {
  margin-top: 1cm;
  margin-bottom: 1cm;
}

#signdate * {
  font-size: 20pt;
  margin-bottom: 0.5cm;
}
